!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(title='home' href='/')
            div(class='home-link')

        block content

