extends layout

block content
  h1(id="title")= title

  p Welcome to #{title}

  img(src='/images/parking_icon.jpeg')

  h2= description

    div#intro
        p.
          Parking Lot actually has a long and horrible history, but don't worry
          about your children finding out; We have kid's packs full of toys!
          What really matters is that we are slightly cheaper than all of our
          neighboring lots since we are slightly further away from where you
          are trying to go. Price really is a function of distance, but just
          look at it this way: You will get more exercise dodging cars on your
          way because the pedestrian walkway will not be completed for another
          two years. Scientists have found this type of exercise (in small
          doses) to be most beneficial because it activates the primal "flee
          for your life" hyperarousal response of the sympathetic nervous
          system. Regular visitors develop a general adaptation to the effect,
          but they still benefit from plain old cardiovascular activity while
          ascending the gigantic hill between us and your destination.