extends layout-index

block content

  h1(id="companyName")= title

  p(id="welcomeMessage") Welcome to #{title}

  img(id='logo' class='rotate-up' src='/images/parking_icon.jpeg')
  button(id='rotateIcon') Rotate Icon

  h2= description

  a(id='pricing' href='/pricing') Prices
  br
  br
  a(href='/js-sandbox') Javascript Sandbox
  br
  br
  br

  form(action="/history", method="post")
    input(type="submit", value="Quick History", id="quickHistory")

  button(id="longHistory") Longer History
  span#longResponse  It can take a while

  ul#options
    li We chase away birds and intruders
    li We wash your car, inside and out
    li All you can eat popcorn

  div#intro
      p.
        You will have a wonderful time here. Such a great time, your family
        will always come back for more delicious parking. We'd love you to
        stay for a year, but understand if you can only make it for one day.
        Besides, we make lots of money, and can afford to remain open until
        the next time you decide to drop in.

  br

  div#longDescription
      p.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.
