extends layout

block content
  h1= title

  p Welcome to #{title}

  img(src='/images/parking_icon.jpeg')

  h2= description

  ul#options
    li About the parking lot
    li Parking with us
    li Rates and Rewards

  div#div1
      p.
        You will have a wonderful time here. Such a great time, your family
        will always come back for more delicious parking. We'd love you to
        stay for a year, but understand if you can only make it for one day.
        Besides, we make lots of money, and can afford to remain open until
        the next time you decide to drop in.

  br

  div#div2
      p.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        Parking lot has been around for over fifty years, and has grown
        by a factor of 500. We have cleared out wetlands, cut down trees
        relocated wildlife, even moved a few people out of their homes.