extends layout-js-sandbox

block content

  img(src='/images/parking_icon.jpeg')

  h2= title

  div#intro
    p.
      This is the place where I like to experiment with the lesser-known aspects of the Javascript language.

