body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#div1{
   border:2px solid;
   border-radius:30px;
   padding: 10px;
   box-shadow: 10px 10px 5px #888888;
   text-shadow: 2px 2px 2px #008899;
}

#div2{
    font-size: 14px;
    border:2px solid;
    border-radius:20px;
    padding: 2px;
    background:url(/images/faded.jpeg);
    background-repeat:no-repeat;
    background-size:140% 140%;
    background-origin:content-box;
    box-shadow: 4px 4px 4px #008899;
}

#btn{
    font-size: 3em;
}

#longResponse{
    padding: 2em;
}